<div class="hero">
    <div class="hero__container">
        <div class="date__section">
            <div class="date__up">
                <p class="date">2024</p>
                <p class="july">06th <br> JULY</p>
            </div>
            <div class="mid">
                <img src="../../assets/stroke.svg" alt="">
            </div>
            <div class="bottom">
                <p class="time">10:00am</p>
                <p class="church">CAC (Oke-Ayo), Sabo - Oke <br> DCC Hq, Ilorin, Kwara State.</p>
            </div>
        </div>
        <div class="hero__body">
            <h1 class="heading__one">Rebecca & <br> Ayokanmi</h1>
            <p>"And now these three remain: faith, hope and <br> 
                love. But the greatest of these is love."
            <br> — 1 Corinthians 13:13 (NIV)
            </p>
            <div class="hero__btn">
                <!-- <a href=""></a> -->
                Livestream
            </div>
        </div>
    </div>
</div>