<div class="lovestory__section">
  <div class="lovestory__body">
    <div class="back__btn" (click)="onHome()">
      <img src="../../assets/Group.svg" alt="" style="width: 10px" />
      <p>Back to Home</p>
    </div>
    <div class="lovestory__container">
      <!-- <h2>Bride-love Story</h2> -->
      <div class="chapter__body">
        <div class="first__chapter">
          <img src="../../assets/thankyou.png" alt="" width="50%">
          <div class="continuation__body">
            <!-- <p class="title">Continuation...</p> -->
            <!-- <p class="continuation"> -->
              <b>A Memorable Birthday</b>
              <br />
              <b>May 7th, 2023: 
                The Proposal</b> <br> A year later, on May
              7th, 2023, my birthday was destined to be even more memorable. We
              planned a lunch date to celebrate. As we enjoyed our meal and the
              conversation flowed, Ayokanmi did something I didn't expect. With
              a mix of humor and seriousness, he asked, “WILL YOU MARRY ME?
              PLEASE TAKE YOUR TIME TO ANSWER.” My heart raced. I was so
              surprised and unsure of what to say at that moment. I needed time
              to process this huge step. On May 19th, I sent him a message
              saying “YES,” and on May 22nd, I reaffirmed my answer in person.
              That moment solidified our future together. 
              <br />
              <br />
          <br />
          <b>Building Our Future
            Together</b>
           <br>   
          The journey from that initial conversation to the
          proposal was filled with numerous moments of 
          joy and challenges.
              Sharing our dreams, aspirations, and goals required effort and
              understanding. There were times when it was difficult, but we
              always leaned on each other and our faith in God. Making God the
              foundation of our relationship has been crucial.
            <!-- </p> -->
          </div>
        </div>
        <!-- second chapter -->
        <div class="second__chapter">
           His guidance has
              brought us closer and helped us navigate the ups and downs of life
              together. The counseling we received from family and mentors was
              invaluable. They provided us with wisdom and support that
              strengthened our bond.
              <br>
              <br>
              <b>A Message to Future Couples</b> 
              <br>To all the
              intending couples out there, we cannot stress enough the
              importance of making God the cornerstone of your relationship.
              Without Him, a life and a family have nothing.
              “A LIFE AND A
              FAMILY WITH JESUS HAVE EVERYTHING.” Our story is a testament to
              the power of faith, friendship, and love. We are excited about our
              future together and thankful for every moment that brought us to
              this point. As we look forward to our life together, we remain
              grateful for the journey we've had and for the people who have
              supported us along the way. Our story is still being written, and
              we know that with God’s guidance, the best is yet to come. Cheers.
              <br>
        </div> 
        <div class="third__chapter">
          Abegunde Rebecca Monjolajesu
        </div>    
      </div>
    </div>
  </div>
</div>

  