<div class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div class="footer__up">
                RSVP
                <!-- <img src="../../assets/logo.png" alt="" style="width: 60%; margin: auto;"> -->
            </div>
            <div class="footer__down">
                <div class="rsvp">GLORIA - 08066758467</div>
                <div class="rsvp">TOYOSI - 09087654324</div>
            </div>
        </div>
        <div class="reserved">
            Designed by SamoranoBaba (09039429483) <br> © 2024 Rebecca & Ayokanmi. All right reserved.
        </div>
    </div>
</div>