<div class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <div class="footer__up">
                <img src="../../assets/footerlogo.png" alt="">
            </div>
            <div class="footer__down">
                <div class="rsvp">RSVP: GLORIA - 08066758467</div>
                <div class="rsvp">TOYOSI - 09087654324</div>
            </div>
        </div>
        <div class="reserved">
            Designed by SamoranoBaba (09039429483) <br> © 2024 All right reserved.
        </div>
    </div>
</div>