<div class="lovestory__section">
    
    <div class="lovestory__body">
        <div class="back__btn" (click)="onHome()">
            <img src="../../assets/Group.svg" alt="" style="width: 10px;">
            <p>Back to Home</p> 
        </div>
       <div class="lovestory__container">
        <h2>Bride-love Testament</h2>
        <div class="chapter__body">
            <div class="first__chapter">
                <img src="../../assets/image.png" alt="">
                <div class="continuation__body">
                    <p class="title">Continuation...</p>
                    <p class="continuation">
                        From the moment we met, I knew there was something uniquely
                      special about you. Your smile, your laughter, and the way you see
                      the world captured my heart and soul. As we embark on this
                      beautiful journey towards our wedding day, I want to share just
                      how much you mean to me. You are my confidant, my partner, and my
                      best friend. Your unwavering support and unconditional love have
                      been the cornerstone of our relationship. Together, we've faced
                      life's challenges and celebrated its triumphs, always emerging
                      stronger and more deeply connected. Your kindness and generosity
                      of spirit inspire me every day. You have a way of seeing the best
                      in people and bringing out the best in me. Your passion for life
                      and your boundless optimism make every day brighter and every
                      moment sweeter. As we prepare to exchange our vows, I am filled
                      with immense joy and gratitude. I am grateful for the love we've
                      nurtured, the memories we've created, and the future we are
                      building together. I look forward to a lifetime of shared dreams,
                      adventures, and countless moments of happiness. Thank you for
                      being my rock, my safe haven, and my greatest love. I am honored
                      to soon call you my spouse and to spend the rest of my life with
                      you by my side. With all my love.
                    </p>
                </div>
               
            </div>
            <!-- second chapter -->
            <div class="second__chapter">
                From the moment we met, I knew there was something uniquely
                special about you. Your smile, your laughter, and the way you see
                the world captured my heart and soul. As we embark on this
                beautiful journey towards our wedding day, I want to share just
                how much you mean to me. You are my confidant, my partner, and my
                best friend. Your unwavering support and unconditional love have
                been the cornerstone of our relationship. Together, we've faced
                life's challenges and celebrated its triumphs, always emerging
                stronger and more deeply connected. Your kindness and generosity
                of spirit inspire me every day. You have a way of seeing the best
                in people and bringing out the best in me. Your passion for life
                and your boundless optimism make every day brighter and every
                moment sweeter. As we prepare to exchange our vows, I am filled
                with immense joy and gratitude. I am grateful for the love we've
                nurtured, the memories we've created, and the future we are
                building together. I look forward to a lifetime of shared dreams,
                adventures, and countless moments of happiness. Thank you for
                being my rock, my safe haven, and my greatest love. I am honored
                to soon call you my spouse and to spend the rest of my life with
                you by my side. With all my love.
            </div>
            <!-- third chapter -->
            <div class="third__chapter">
                From the moment we met, I knew there was something uniquely
                special about you. Your smile, your laughter, and the way you see
                the world captured my heart and soul. As we embark on this
                beautiful journey towards our wedding day, I want to share just
                how much you mean to me. You are my confidant, my partner, and my
                best friend. Your unwavering support and unconditional love have
                been the cornerstone of our relationship. Together, we've faced
                life's challenges and celebrated its triumphs, always emerging
                stronger and more deeply connected. Your kindness and generosity
                of spirit inspire me every day. You have a way of seeing the best
                in people and bringing out the best in me. Your passion for life
                and your boundless optimism make every day brighter and every
                moment sweeter. As we prepare to exchange our vows, I am filled
                with immense joy and gratitude. I am grateful for the love we've
                nurtured, the memories we've created, and the future we are
                building together. I look forward to a lifetime of shared dreams,
                adventures, and countless moments of happiness. Thank you for
                being my rock, my safe haven, and my greatest love. I am honored
                to soon call you my spouse and to spend the rest of my life with
                you by my side. With all my love.
            </div>
            <!-- second chapter -->
            <div class="second__chapter">
                From the moment we met, I knew there was something uniquely
                special about you. Your smile, your laughter, and the way you see
                the world captured my heart and soul. As we embark on this
                beautiful journey towards our wedding day, I want to share just
                how much you mean to me. You are my confidant, my partner, and my
                best friend. Your unwavering support and unconditional love have
                been the cornerstone of our relationship. Together, we've faced
                life's challenges and celebrated its triumphs, always emerging
                stronger and more deeply connected. Your kindness and generosity
                of spirit inspire me every day. You have a way of seeing the best
                in people and bringing out the best in me. Your passion for life
                and your boundless optimism make every day brighter and every
                moment sweeter. As we prepare to exchange our vows, I am filled
                with immense joy and gratitude. I am grateful for the love we've
                nurtured, the memories we've created, and the future we are
                building together. I look forward to a lifetime of shared dreams,
                adventures, and countless moments of happiness. Thank you for
                being my rock, my safe haven, and my greatest love. I am honored
                to soon call you my spouse and to spend the rest of my life with
                you by my side. With all my love.
            </div>
        </div>
       </div>
    </div>
</div>