<div id="gallery" class="gallery__section">
    <h3>Gallery</h3>
    <p>
      Threads of our love story: Woven together,<br />
      one joyful memory at a time.
    </p>
    <div class="gallerycollage">
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image1"
        src="../../assets/pic1.png"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image2"
        src="../../assets/img.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image3"
        src="../../assets/imgtwo.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image4"
        src="../../assets/imgthree.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image5"
        src="../../assets/pic2.png"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image6"
        src="../../assets/trip.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image7"
        src="../../assets/pic4.png"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos="zoom-in"
        class="image8"
        src="../../assets/thankyou.png"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image9"
        src="../../assets/IMG_20220507_165347_576.jpg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image10"
        src="../../assets/intro.png"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image11"
        src="../../assets/rest.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image12"
        src="../../assets/ACU.jpg"
        alt=""
      />
      <!-- <img class="image13" src="../../assets/image.png" alt="">
          <img class="image14" src="../../assets/image.png" alt="">
          <img class="image15" src="../../assets/image.png" alt="">  -->
    </div>
  
    <div class="hero__btn" (click)="onCollage()">View Wedding Pics</div>
  </div>
  