<div id="gifts" class="gift__section">
  <div class="gift__container">
    <div class="gift__text">
      <h3>Monetize All Gifts</h3>
      <p>
        We understand how tough it can be to choose <br />
        the perfect wedding gift, so we've decided to make it easier for all our
        guests.
      </p>
    </div>
    <div class="input-container">
      <input
        type="text"
        value="Account Number - ({{ accountNumber }})"
        class="input-field"
      />
      <button (click)="copyAccountNumber()" class="input-button">Copy</button>
    </div>
  </div>
</div>
