<div class="venue__section">
    <div class="venue__container">
        <div class="herobody__mobile">
            <div class="date__section">
                <div class="date__up">
                    <p class="date">2024</p>
                    <p class="july">06th <br> JULY</p>
                </div>
                <div class="mid">
                    <img src="../../assets/stroke.svg" alt="">
                </div>
                <div class="bottom">
                    <p class="time">10:00am</p>
                    <p class="church">CAC (Oke-Ayo), Sabo - Oke <br> DCC Hq, Ilorin, Kwara State.</p>
                </div>
            </div>
        </div>
        <div class="hero__body">
            <p>"Husbands, love your wives, just as Christ <br> 
                loved the church and gave himself up for her."  
            <br> - Ephesians 5:25
            </p>
            <div class="hero__btn">
                Wedding Programme
            </div>
        </div>
    </div>
    <!-- Counting Down -->
    <div class="countdown__component">
       <!-- <app-wedding-countdown></app-wedding-countdown> -->
    </div>
</div>