<div id="venue" class="venue__section">
    <div class="venue__container">
        <div class="herobody__mobile">
            <div class="date__section">
                <div class="date__up">
                    <p class="date">2024</p>
                    <p class="july">06th <br> JULY</p>
                </div>
                <div class="mid">
                    <img src="../../assets/stroke.svg" alt="">
                </div>
                <div class="bottom">
                    <p class="time">10:00am</p>
                    <p class="church">CAC (Oke-Ayo), Sabo - Oke <br> DCC Hq, Ilorin, Kwara State.</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up"
        data-aos-duration="2000"  class="hero__body">
            <b>Appreciation</b>
            <p> We are deeply grateful to everyone who made our wedding day an unforgettable experience. Your presence, love, and
                support meant the world to us, and we are honoured to have shared this special moment with you.
                <br>
                Our wedding day was a dream come true, made even more beautiful by the presence of our family and friends. The
                ceremony was a reflection of our love story, filled with emotions, heartfelt vows, and a promise to cherish each
                other forever. The reception was a celebration of joy, laughter, and the start of our new journey together. To our guests, 
                thank you for traveling near and far to celebrate with us. Your presence was the greatest gift we could have asked for.
                <br>
                To our parents, thank you for your unconditional love and support. You have been our role models, guiding us with
                your wisdom and love. To our friends, thank you for your endless encouragement and for being there for us through
                thick and thin. Your friendships mean the world to us.
                <br>
                <br>
                <b>A Toast to Our Future</b> <br>
                As we look forward to our future together, we carry with us the love and blessings of our family and friends. Here's
                to a lifetime of happiness, adventure, and love. Thank you for being a part of our special day and for your
                continued love and support.
            
                With heartfelt gratitude,<br><br>
                Rebecca & Ayokanmi Samuel
            </p>
            <!-- <div (click)="downloadPdf()" class="hero__btn"> -->
                <!-- <button (click)="downloadPdf()"></button> -->

                <!-- <a target="_blank" href="https://heyzine.com/flip-book/245c152ebf.html">Wedding Programme</a> -->
                <!-- <a target="_blank" href="https://heyzine.com/flip-book/245c152ebf.html">Wedding Programme</a> -->
                <!-- Wedding Programme -->
            <!-- </div> -->
        </div>
    </div>
</div>