<div
  class="story"
  id="story"
  style="
    background: url(../../assets/storybgg.png);
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="story__container">
    <div class="heading__title">Our story: A Love journey</div>
    <div class="story__body">
      <div data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500" class="story__up">
        <div class="story__upContainer">
          <div class="top">
            <h2>Bride's Love Journey</h2>
            <p>
              December 1st, 2021: The church welfare posted his picture on the
              church platform, and I decided to wish him a happy birthday in his
              private chat. Surprisingly, he replied almost immediately, and we
              chatted from 8:00 AM till 3:00 PM. It was funny how we shared many
              of our childhood experiences and growing up that same day. May
              7th, 2022: He came to my school for my birthday, and I took him to
              the best Amala joint in my school. We had fun, and he left for
              Ibadan around 6:00 PM. That was one of my best birthdays ever
              because I got to share it with my new best friend. I started
              falling in love with him from that day and knew he was the perfect
              person for me. Ayokanmi is caring, has a big heart, and is very
              accommodating. May 7th, 2023: On my birthday, we went out for a
              lunch date. After the date, he popped the big question in a funny
              way: “WILL YOU MARRY ME? PLEASE TAKE YOUR TIME TO ANSWER.” I was
              so surprised because I was unsure of what to say. I replied with a
              message saying “YES” on May 19th, and on May 22nd, I replied with
              a “YES” in person. Sharing our dreams, aspirations, and goals and
              envisioning them together was a bit challenging, but God helped us
              in His infinite mercy. One thing that has helped and continues to
              help is making God the foundation of this relationship. Special
              thanks to all the counseling we have received so far and the
              family that has counseled us as an intended couple. Your
              counseling has helped us greatly. Finally, to the intending
              couples out there, please make God the foundation of your
              relationship. Remember, a life and a family without Jesus have
              nothing. “A LIFE AND A FAMILY WITH JESUS HAVE EVERYTHING.”
              <!-- <span (click)="onBride()">Read More</span> -->
            </p>
          </div>

          <div class="couple__name">
            <div class="">
              <img
                src="../../assets/Ellipse 87.png"
                alt=""
                style="width: 60px"
              />
            </div>
            <div class="">
              <div class="couple__tag">Rebecca Monjolajesu</div>
              <div class="couple__nam">Bride</div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="500" class="story__bottom">
        <div class="story__upContainer">
          <div class="top">
            <h2>Groom's Love Journey</h2>
            <p>
              We first met at her sister’s house during a visit with one of our
              pastors in 2021. We didn’t meet them at home and had to wait for a
              while. Suddenly, a beautiful damsel walked in with her sister. I
              noticed her immediately but pretended to be indifferent about my
              feelings and looked away, thinking she was her sister's firstborn.
              So, I dismissed my initial feelings.
              <br />
              <br />
              Our first conversation was on WhatsApp. Here’s how it happened: on
              the 1st of December 2021, which happens to be my birthday, a few
              days after our visit to their house, she saw the birthday wishes
              and my picture on the church platform. She decided to slide into
              my DMs to send her birthday wishes, thank me for the visit, and
              send a gift.
              <br />
              <br />
              We started chatting, and our discussions were often full of funny
              moments. I discovered she liked expressing herself and talking
              about her day, especially about her lectures since she was still
              an undergraduate at that time. She was a pleasant soul to be with,
              and I felt that even through our chats. Our friendship grew
              stronger, and we found ourselves chatting almost every day. On May 7th, 2022,
              <span (click)="onGroom()">Read More</span>
            </p>
          </div>

          <div class="couple__name">
            <div class="">
              <img
                src="../../assets/Ellipse 87.png"
                alt=""
                style="width: 60px"
              />
            </div>
            <div class="">
              <div class="couple__tag">Victor Ayokanmi</div>
              <div class="couple__nam">Groom</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
