<div
  class="story"
  id="story"
  style="
    background: url(../../assets/storybgg.png);
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="story__container">
    <div class="heading__title">
      Our Love story: A journey of <br />
      Faith and Friendship
    </div>
    <div class="story__body">
      <div
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="story__up"
      >
        <div class="story__upContainer">
          <div class="top">
            <h2>Rebecca</h2>
            <p>
              <b>December 1st, 2021: A Surprising Connection</b> <br />
              It was a typical day until the church welfare committee posted
              Ayokanmi’s picture on our church platform. As I glanced at his
              picture, something compelled me to reach out and wish him a happy
              birthday. I sent a quick message in his private chat, not
              expecting much. To my surprise, he replied almost immediately.
              That spontaneous conversation lasted from 8:00 AM till 3:00 PM. We
              laughed and shared many of our childhood experiences and stories
              about growing up. It was astonishing how much we had in common,
              and an unexpected bond began to form between us.
              <br />
              <br />
              <b>May 7th, 2022: A Birthday to Remember</b> <br />Fast forward to
              May 7th, 2022. It was my birthday, and Ayokanmi decided to make it
              special by coming to my school. I was excited and slightly nervous
              as I took him to the best Amala joint around. We enjoyed a
              wonderful meal, sharing stories and laughter. He had to leave for
              Ibadan around 6:00 PM, but those few hours together were magical.
              It was one of the best birthdays I had ever had, not just because
              of the fun, but because I got to spend it with my new best friend.
              It was then that I started to realize my feelings for him were
              more than just friendship. Ayokanmi was caring, had a big heart,
              and his accommodating nature won me over completely.
              <span (click)="onBride()">Read More</span>
            </p>
          </div>

          <!-- <div class="couple__name">
            <div class="">
              <img
                src="../../assets/Ellipse 87.png"
                alt=""
                style="width: 60px"
              />
            </div>
            <div class="">
              <div class="couple__tag">Rebecca Monjolajesu</div>
              <div class="couple__nam">Bride</div>
            </div>
          </div> -->
        </div>
      </div>
      <div
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="500"
        class="story__bottom"
      >
        <div class="story__upContainer">
          <div class="top">
            <h2>Ayokanmi</h2>
            <p>
              <b>How We Met</b> <br />
              We first met at her sister’s house during a sick visit in 2021.
              They weren't at home, so we had to wait for a while. Suddenly, a
              beautiful damsel walked in with her sister. I noticed her but
              pretended to be indifferent about my feelings and looked away
              because I was calculating, thinking Monjolajesu was her sister's
              firstborn, so I dismissed my feelings.
              <br />
              <br />
              <b> Our First Conversation</b> <br />
              Our first real conversation happened on WhatsApp. It was December
              1st, 2021 my birthday just a few days after our visit to their
              house. Monjolajesu saw the birthday wishes and my picture on the
              church platform and decided to slide into my DMs to send her
              greetings and thank me for our visit. That simple gesture sparked
              an instant connection. We started chatting, and our first
              conversation was about our upbringing, environment, and culture.
              Sharing our past that day was a pivotal moment for me. The topics
              we discussed drew me in and made me reflect on my own life. I even
              shared my goals with her, and she offered encouraging words that
              resonated deeply. At one point, I asked her age not out of
              disrespect, but because I was genuinely curious. Although she
              didn't declare her exact age, she gave me a range, and I was
              surprised to find she was older than I initially thought. The
              initial feelings I had dismissed came rushing back. Our
              conversation was lengthy and filled with interesting moments. I
              could tell even through our chats that she was a pleasant soul,
              and our friendship grew stronger each day.
              <span (click)="onGroom()">Read More</span>
            </p>
          </div>

          <!-- <div class="couple__name">
            <div class="">
              <img
                src="../../assets/Ellipse 87.png"
                alt=""
                style="width: 60px"
              />
            </div>
            <div class="">
              <div class="couple__tag">Victor Ayokanmi</div>
              <div class="couple__nam">Groom</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
