<div class="story" id="story"  style="background: url(../../assets/storybgg.png); background-repeat: no-repeat; background-size: cover;">
  <div class="story__container">
    <div class="heading__title">Our story: A Love journey</div>
    <div class="story__body">
      <div class="story__up">
        <div class="story__upContainer">
          <div class="top">
            <h2>Bride's Love Journey</h2>
            <p>
              From the moment we met, I knew there was something uniquely
              special about you. Your smile, your laughter, and the way you see
              the world captured my heart and soul. As we embark on this
              beautiful journey towards our wedding day, I want to share just
              how much you mean to me. You are my confidant, my partner, and my
              best friend. Your unwavering support and unconditional love have
              been the cornerstone of our relationship. Together, we've faced
              life's challenges and celebrated its triumphs, always emerging
              stronger and more deeply connected. Your kindness and generosity
              of spirit inspire me every day. You have a way of seeing the best
              in people and bringing out the best in me. Your passion for life
              and your boundless optimism make every day brighter and every
              moment sweeter. As we prepare to exchange our vows, I am filled
              with immense joy and gratitude. I am grateful for the love we've
              nurtured, the memories we've created, and the future we are
              building together. I look forward to a lifetime of shared dreams,
              adventures, and countless moments of happiness. Thank you for
              being my rock, my safe haven, and my greatest love. I am honored
              to soon call you my spouse and to spend the rest of my life with
              you by my side. With all my love. <span (click)="onBride()">Read More</span>
            </p>
          </div>

          <div class="couple__name">
            <div class="">
              <img
                src="../../assets/Ellipse 87.png"
                alt=""
                style="width: 60px"
              />
            </div>
            <div class="">
              <div class="couple__tag">Rebecca Monjolajesu</div>
              <div class="couple__nam">Bride</div>
            </div>
          </div>
        </div>
      </div>
      <div class="story__bottom">
        <div class="story__upContainer">
            <div class="top">
              <h2>Groom's Love Journey</h2>
              <p>
                We first met at her sister’s house during a visit with one of my bosses in 2021. We didn’t meet them at home and had to wait for a while. Suddenly, a beautiful damsel walked in with her sister. I noticed her immediately but pretended to be indifferent about my feelings and looked away, thinking she was her sister's firstborn. So, I dismissed my initial feelings.
                <br>
                <br>
                Our first conversation was on WhatsApp. Here’s how it happened: on the 1st of December 2021, which happens to be my birthday, a few days after our visit to their house, she saw the birthday wishes and my picture on the church platform. She decided to slide into my DMs to send her birthday wishes, thank me for the visit, and send a gift.
                <br>
                <br>
                We started chatting, and our discussions were often full of funny moments. I discovered she liked expressing herself and talking about her day, especially about her lectures since she was still an undergraduate at that time. She was a pleasant soul to be with, and I felt that even through our chats. Our friendship grew stronger, and we found ourselves chatting almost every day. We instantly felt a connection.
                <span (click)="onGroom()">Read More</span>
              </p>
            </div>
  
            <div class="couple__name">
              <div class="">
                <img
                  src="../../assets/Ellipse 87.png"
                  alt=""
                  style="width: 60px"
                />
              </div>
              <div class="">
                <div class="couple__tag">Victor Ayokanmi</div>
                <div class="couple__nam">Groom</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
