<div class="colorcode__section">
    <!-- <div class="quotes__section"> -->
        <h2 data-aos="fade-up"
        data-aos-duration="2000" >"A wife of noble character who can find? She is worth far more than rubies." 
            <br> Proverbs 31:10
          </h2> 
          <!-- Second Bible quote -->
          <!-- <h4>"With all humility and gentleness, with patience, bearing with one another in love, eager to maintain the unity of the Spirit in the bond of peace." 
              <br> Ephesians 4:2 - 3 
          </h4> -->
          <!-- Third Bible quote -->
          <!-- <h5>"Do everything in love."
              <br> 1 Corinthians 16:14 
          </h5> -->
    <!-- </div> -->
    <div data-aos="fade-up"
    data-aos-duration="2500" class="colorcode__container">
        <div class="up">
            Colour Code
        </div>
        <div class="bottom">
            <div class="lilac">
                Lilac
            </div>
            <div class="silver">
                Silver
            </div>
            <div class="black">
                Purple
            </div>
        </div>
    </div>
</div>
