.colorcode__section{
    height: 100%;
    width: 100%;
    margin: auto;
    /* background: url(../../assets/colorbgg.jpg); */
    background: url(../../assets/color.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h2{
    width: 450px;
    font-size: 24px;
    text-align: center;
    color: var(--milk);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    line-height: 150%;
    padding-top: 30px;
    height: 100%;
    /* background: #1f1f1f; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.quotes__section{
    height: 100%;
   /* display: grid;
   grid-template-columns: repeat(3, 1fr); */
   /* grid: 24px; */
    overflow: hidden;
    width: 80%;
    margin: auto;
    height: 350px;
    margin-top: 90px;
}
.up{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--milk);
    padding-bottom: 8px;
}
.colorcode__container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100%;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lilac{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: var(--black);
    background: #D2AFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    /* border: 5px solid var(--purplebg); */
}
.silver{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: var(--black);
    background: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 5px solid purple; */
    margin-left: -20px;
    margin-right: -20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}
.black{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: whitE;
    background: #4B006E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    /* border: 5px solid silver; */
}


/* Styles for Tablets */
@media only screen and (max-width: 1024px) {
    .colorcode__section{
        height: 100%;
    }
}
@media only screen and (max-width: 820px) {
    .colorcode__section{
        height: 55vh;
    }
    h2{
        font-size: 26px;
    }
}
@media only screen and (max-width: 768px) {
    .colorcode__section{
        height: 50vh;
    }
    h2{
        font-size: 26px;
    }
}
@media screen and (max-width: 480px) {
    .colorcode__section{
        height: 100%;
        padding: 40px 0
    }
    h2{
        width: 80%;
        margin: auto;
        font-size: 20px;
        padding-bottom: 40px;
    }
    .up{
        font-size: 20px;
    }
    .bottom{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .silver{
        margin-top: -20px;
    margin-bottom: -20px;
    }
}
