<div class="countdown__section">
    <div class="countdown-container">
        <div class="countdown-item">
          <h1>{{ days }}</h1>
          <span>Days</span>
        </div>
        <div class="countdown-item">
          <h1>{{ hours | formatNumber }}</h1>
          <span>Hours</span>
        </div>
        <div class="countdown-item">
          <h1>{{ minutes | formatNumber }}</h1>
          <span>Minutes</span>
        </div>
        <div class="countdown-item">
          <h1>{{ seconds | formatNumber }}</h1>
          <span>Seconds</span>
        </div>
      </div>
</div>

  