<div class="countdown__section">
  <div class="countdown-container">
    <!-- <div class="countdown-item">
      <h1>{{ remainingTime.days }}</h1>
      <span>Days</span>
    </div>
    <div class="countdown-item">
      <h1>{{ remainingTime.hours }}</h1>
      <span>Hours</span>
    </div>
    <div class="countdown-item">
      <h1>{{ remainingTime.minutes }}</h1>
      <span>Minutes</span>
    </div>
    <div class="countdown-item">
      <h1>{{ remainingTime.seconds }}</h1>
      <span>Seconds</span>
    </div> -->
    <h2>Words of Appreciation</h2>
    <p>
      We are deeply grateful to everyone who made our wedding day an
      unforgettable experience. Your presence, love, and support meant the world
      to us, and we are honoured to have shared this special moment with you.
      Our wedding day was a dream come true, made even more beautiful by the
      presence of our family and friends. The ceremony was a reflection of our
      love story, filled with emotions, heartfelt vows, and a promise to cherish
      each other forever. The reception was a celebration of joy, laughter, and
      the start of our new journey together. To our guests, thank you for
      traveling near and far to celebrate with us. Your presence was the
      greatest gift we could have asked for. To our parents, thank you for your
      unconditional love and support. You have been our role models, guiding us
      with your wisdom and love. To our friends, thank you for your endless
      encouragement and for being there for us through thick and thin. Your
      friendships mean the world to us. Cheers
    </p>
    <div class="hero__btn" (click)="onCollage()">View Wedding Pics</div>
  </div>
</div>
