<div id="gallery" class="gallery__section">
    <div class="collage__top">
      <h3>Wedding Photo Collage</h3>
      <p>
          Captured moments of love and joy, each photo tells a part of our beautiful journey together.
      </p>
      <div class="back__btn" (click)="onHomee()">Home</div>
    </div>
  
    <div class="gallerycollage mobilecollage">
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image1"
        src="../../assets/Collage/imgone.JPG"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image2"
        src="../../assets/Collage/imgtwo.JPG"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image3"
        src="../../assets/Collage/imgfour.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image4"
        src="../../assets/Collage/imgthree.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image5"
        src="../../assets/Collage/WhatsApp Image 2024-08-04 at 2.50.58 PM (3).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image6"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.20.34 PM (6).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image7"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.20.34 PM (9).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos="zoom-in"
        class="image8"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.20.34 PM.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image9"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.23.22 PM.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image10"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.23.23 PM (4).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image11"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.23.23 PM (7).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="image12"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.23.24 PM (3).jpeg"
        alt=""
      />
      <!-- <img class="image13" src="../../assets/image.png" alt="">
          <img class="image14" src="../../assets/image.png" alt="">
          <img class="image15" src="../../assets/image.png" alt="">  -->
    </div>
  
    <!-- part two -->
    <div class="gallerycollage">
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag1"
        src="../../assets/Collage/WhatsApp Image 2024-08-04 at 2.51.00 PM (18).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag2"
        src="../../assets/Collage/WhatsApp Image 2024-08-13 at 12.53.16 PM.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag3"
        src="../../assets/Collage/WhatsApp Image 2024-08-13 at 12.49.03 PM.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag4"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.28.55 PM (4).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag5"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.28.56 PM.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag6"
        src="../../assets/Collage/WhatsApp Image 2024-08-04 at 2.50.55 PM (6).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag7"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.38.46 PM (3).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos="zoom-in"
        class="image8"
        src="../../assets/Collage/WhatsApp Image 2024-08-04 at 2.47.37 PM (2).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag9"
        src="../../assets/Collage/WhatsApp Image 2024-08-04 at 2.47.42 PM.jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag10"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.29.01 PM.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag11"
        src="../../assets/Collage/WhatsApp Image 2024-08-03 at 6.20.34 PM (2).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag12"
        src="../../assets/Collage/WhatsApp Image 2024-08-04 at 2.51.00 PM (14).jpeg"
        alt=""
      />
      <!-- <img class="image13" src="../../assets/image.png" alt="">
          <img class="image14" src="../../assets/image.png" alt="">
          <img class="image15" src="../../assets/image.png" alt="">  -->
    </div>
    <!-- part three -->
    <div class="gallerycollage">
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag1"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-03 at 6.23.24 PM (4).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag2"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-03 at 6.23.26 PM (2).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag3"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.38 PM (1).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag4"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (10).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag5"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (2).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag6"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (3).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag7"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (5).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos="zoom-in"
        class="image8"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (8).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag9"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.41 PM (1).jpeg"
        alt=""
      />
      <img
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag10"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM.jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag11"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (6).jpeg"
        alt=""
      />
      <img
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="imag12"
        src="../../assets/Collage/collagethree/WhatsApp Image 2024-08-04 at 2.54.42 PM (7).jpeg"
        alt=""
      />
      <!-- <img class="image13" src="../../assets/image.png" alt="">
          <img class="image14" src="../../assets/image.png" alt="">
          <img class="image15" src="../../assets/image.png" alt="">  -->
    </div>
  </div>
  